services:
  - type: web
    name: n8n
    env: docker
    plan: free
    image: n8nio/n8n:latest
    envVars:
      - key: N8N_ENCRYPTION_KEY
        value: votre_cle_secrete_robuste # ⚠️ Obligatoire (32 caractères)
      - key: N8N_ENV
        value: production
      - key: VUE_APP_URL_BASE_API
        value: https://my-repository.onrender.com
    healthCheckPath: /healthzs